.App {
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
}

#header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logout {
  font-size: xx-small;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 0.25em;
}
.singleTweet {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0.5em;
  width: 65%;
  margin: 1em auto;
  text-align: start;
}

.tweetMeta {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: x-small;
  margin-bottom: 1em;
}

.tweetActions {
  font-size: x-small;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  cursor: pointer;
  text-decoration: underline;
}